* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --primary_color: #121212;
  --secondary_color: #f7d354;
  --text_color: #fff;
  --hover: #b8930c;
}
body {
  background-color: var(--primary_color);
  color: var(--text_color);
}
a {
  text-decoration: none;
  color: var(--secondary_color);
  transition: 0.5s;
}
a:hover {
  color: var(--hover);
}
main {
  height: 100vh;
  margin-top: 50px;
}